
body {
    background: #dc4532;
    color: #fff;
    font-family: tahoma;
    height: 100vh;
    margin: 0;
}
h1 {
    font-weight: normal;
    padding: 1em 0;
    text-align: center;
    margin: 0;
}
.principal, .secundario {
    width: 50%;
    margin: 1em auto;
    box-sizing: border-box;
    font-size: 1em;
    // background: rgba(#fff,0.2);
    position: relative;
    cursor: pointer;
    &::before {
        content: "";
        display: block;
        height: .2em;
        background: #fff;
        position: absolute;
        left: 0;
        box-shadow: 0 .4em #fff,
                    0 .8em #fff;
    }
}
.principal {
    padding-left: 2.5em;
    &::before {
        width: 1.6em;
    }
}
.secundario {
    padding-left: .5em;
    &::before {
        width: .2em;
        border-radius: 50%;
    }
}